body {
    background: #b3b1b1;
}

p {
    color: #474747;
}

.foto-principal {
    width:200px;
    border: 2px solid #ffffff; /*shorthand*/
    border-radius: 50% 20% 50% 20%;
    /*margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 800px;
    */
    margin: 30px 30px 30px 30px;
    
}




