body {
    background: #b3b1b1;
}

p {
    color: #474747;
}

.foto-principal {
    width:200px;
    border: 2px solid #ffffff; /*shorthand*/
    border-radius: 50% 20% 50% 20%
    /*
    border-width:5px;
    border-style:solid;
    border-color:black;
    */
    
    